<p>login works!</p>
<!--ngForm (submit)="onSubmit(); loginForm.reset()"-->
<form ngForm (submit)="onSubmit(); assignmentForm.reset()" #assignmentForm class="form"

class="login">
    <mat-form-field>
      <input  matInput [(ngModel)]="email" name="email" placeholder="E-mail" required>
    </mat-form-field>

    <!--Mot de passe-->
    <mat-form-field>
      <input type="password" matInput [(ngModel)]="password" name="motDePasse" placeholder="Mot de Passe" required minlength="5">
    </mat-form-field>

    <button mat-stroked-button color="primary">
      Se connecter
    </button>
  </form>
